@import "../../src/const/const";

.card {

  &__container {
    width: 670px;
    margin: auto;
    display: flex;
    flex-direction: row;

    &__image {
    }

    &__info {
      width: 100%;
      box-sizing: border-box;
      padding: 20px;

    }
  }
}
