@import "../../src/const/const";

@keyframes flash {
  0% {
    background: white;
  }
  50% {
    background: $text-color-light;
  }
  100% {
    background: white;
  }
}

.message-container {

  .waiting-dots {

    &__container {
      width: 75px;
      height: 50px;
      margin: auto;
      display: flex;

      span {
        display: block;
        background: white;
        width: 12px;
        height: 12px;
        border-radius: 12px;
        float: left;
        margin: auto 5px auto 5px;

        &:nth-child(1) {
          animation: flash 2.5s 0.6s infinite linear;
          margin-left: 8px;
        }

        &:nth-child(2) {
          animation: flash 2.5s 0.4s infinite linear;
        }
        &:nth-child(3) {
          animation: flash 2.5s 0.2s infinite linear;
        }
      }
    }
  }

  &__content {

    margin-top: 15px;

    .bubble {
      width: 100%;
      display: inline-block;

      .round{
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
      }

      .bubble-container {
        display: inline-block;
        position: relative;
        height: auto;
        background-color: $color-divider;
        margin-top: 5px;

        &__left {
          float: left;
          .talk-text{
            .label__container {
              text-align: left;
            }
          }
        }

        &__right {
          background-color: $message-bg-color;
          float: right;
          .talk-text{
            .label__container {
              text-align: right;
            }
          }
        }
      }

      .tri-right.left-in:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -20px;
        right: auto;
        top: 28%;
        bottom: auto;
        border: 12px solid;
        border-color: transparent $color-divider $color-divider transparent;
      }

      .tri-right.right-in:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: -20px;
        top: 28%;
        bottom: auto;
        border: 12px solid;
        border-color: $message-bg-color transparent transparent $message-bg-color;
      }

      .talk-text{
        padding: 1em;
        text-align: left;
        line-height: 1.5em;

        .label__container {
          color: white;
          word-wrap: break-word;
        }
      }
    }
  }
}