#lk-container {
  width: 100%;
  height: 100%;
}

.main-content {
  margin-top: 146px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.login-container {
  width: 100%;
  top: 73px;
  left: 0;
  position: fixed;
  background: #fff;
}