@import "../../src/const/const";

.account {
  margin-top: 10px;
  border-radius: 15px;
  background-color: $color1;

  &-container {
    padding: 14px;

    &__button-container {
      display: flex;
      flex-direction: row;
      margin-top: 26px;
      position: relative;
    }
  }
}