<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FLEETCOR</title>
    <script>
        window.data = {template:"{data.global}"}
    </script>
    <script src="http://localhost:8000/?containerId=bot-container&cookieKey=fleetcor-lk"></script>
    <link rel="stylesheet" type="text/css" href={template:"{res.bundles.styles}"}>
    <link rel="icon" type="image/png" href={template:"{meta.faviconPath}"}>
    <script defer src={template:"{res.bundles.scripts}"}></script>
</head>
<body>
<div id="lk-container">

</div>
</body>
</html>