.widget-container {
  flex-direction: column;

  &__workarea {
    width: 100%;
    display: flex;
    background-color: white;
    overflow-y: scroll;

    &-container {
      margin: 0 auto;
    }
  }
}