.widget-container {
  flex-direction: column;
  width: 710px;
  margin: auto;

  &__workarea {
    display: flex;
    background-color: white;
    overflow-y: scroll;

    &-container {
      padding: 0 20px 0 20px;
    }
  }
}
